<!-- <ion-header>

  <ion-navbar>
    <ion-title>{{userName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content #IonContent fullscreen="false">
  <ion-list>
    <div *ngFor="let chat of msgList; let i = index; ">
      <ion-row *ngIf="chat.userId == User">
        <ion-col class="right" no-padding
          [ngClass]="{'clubbed':((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])}">
          <div class="imageAvatarRight">

            <ion-label color="light" style="margin: 0px;">
              <div class="chatDiv" [ngClass]="{'sharper':((msgList[i+1] && msgList[i+1].userId == chat.userId) && 
              (msgList[i-1] && msgList[i-1].userId == chat.userId)),
              'sharper-top':(msgList[i-1] && msgList[i-1].userId == chat.userId),
              'sharper-bottom':(msgList[i+1] && msgList[i+1].userId == chat.userId)}">
                <p text-wrap padding>{{chat.message}}
                </p>
                <div class="corner-parent-right">
                  <div class="corner-child-right">

                  </div>
                </div>
              </div>
            </ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="chat.userId == toUser">
        <ion-col class="left" no-padding
          [ngClass]="{'clubbed':((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])}">
          <div class="imageAvatarLeft">
            <ion-label color="light" style="margin: 0px;">
              <div class="chatDiv" [ngClass]="{'sharper':((msgList[i+1] && msgList[i+1].userId == chat.userId) && 
              (msgList[i-1] && msgList[i-1].userId == chat.userId)),
              'sharper-top':(msgList[i-1] && msgList[i-1].userId == chat.userId),
              'sharper-bottom':(msgList[i+1] && msgList[i+1].userId == chat.userId)}">
                <p text-wrap padding>{{chat.message}}</p>
                <div class="corner-parent-left">
                  <div class="corner-child-left">

                  </div>
                </div>
              </div>
            </ion-label>

          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])">
        <ion-col>
          <p>{{chat.time | date:'shortTime'}}</p>


        </ion-col>
      </ion-row>
    </div>
  </ion-list>



  <ion-row *ngIf="loader">
    <ion-col no-padding class="loading-col">
      <div class="imageAvatarRight">

        <ion-label>
          <div class="chatDivLoader">
            <ion-spinner name="dots" color="light"></ion-spinner>

            <div class="corner-parent-right">
              <div class="corner-child-right">

              </div>
            </div>
          </div>
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-toolbar sticky="true">
    <ion-row>
      <ion-col col-10>
        <ion-input type="text" placeholder="Type a message" [(ngModel)]="user_input" (ionFocus)="onBlur()"></ion-input>
      </ion-col>
      <ion-col col-2>
        <button ion-fab mini (click)="sendMsg()" color="secondary" end>
          <ion-icon name="send" icon-only></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->
<ion-header>

  <ion-navbar>
    <ion-title>{{userName}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="message-wrap">

    <div *ngFor="let msg of msgList" class="message" [class.left]=" msg.userId === toUser.id "
      [class.right]=" msg.userId === user.id ">
      <!-- <img class="user-img" [src]="msg.userAvatar" alt=""> -->
      <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>


      <div class="msg-detail">
        <div class="msg-info">
          <p>
            {{msg.userName}}&nbsp;&nbsp;&nbsp;{{msg.time | relativeTime}}</p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{msg.message}}</p>
        </div>
      </div>

      <!-- <ion-row *ngIf="loader">
        <ion-col no-padding class="loading-col">
          <div class="imageAvatarRight">
    
            <ion-label>
              <div class="chatDivLoader">
                <ion-spinner name="dots" color="light"></ion-spinner>
    
                <div class="corner-parent-right">
                  <div class="corner-child-right">
    
                  </div>
                </div>
              </div>
            </ion-label>
          </div>
        </ion-col>
      </ion-row> -->
    </div>
    <ion-spinner name="dots" *ngIf="loader"></ion-spinner>
  </div>
</ion-content>

<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
  <div class="input-wrap">
    <!-- <button ion-button clear icon-only item-right (click)="switchEmojiPicker()">
      <ion-icon name="md-happy"></ion-icon>
    </button> -->
    <textarea #chat_input placeholder="Text Input" [(ngModel)]="editorMsg" (keyup.enter)="sendMsg()"
      (focusin)="onFocus()">
    </textarea>
    <button ion-button clear icon-only item-right (click)="sendMsg()">
      <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
    </button>
  </div>
</ion-footer>
<!-- <emoji-picker [(ngModel)]="editorMsg"></emoji-picker> -->