<ion-menu [content]="content" [swipeEnabled]="false" (ionOpen)="chkCondition()">
  <!-- <ion-menu [content]="content" [swipeEnabled]="false"> -->
  <ion-header>
    <!-- <ion-navbar>
      <div class="headProf" #headerTag ion-fixed>
        <img *ngIf="!fileUrl" src="assets/imgs/dummy-user-img.png" />
        <img *ngIf="fileUrl" src="{{fileUrl}}" />
        <div>
          <h4>{{islogin.fn}}&nbsp;{{islogin.ln}}</h4>
          <p style="font-size: 12px">
            <ion-icon name="mail"></ion-icon>&nbsp;{{islogin.email}}
          </p>
          <p style="font-size: 12px">
            <ion-icon name="call"></ion-icon>&nbsp;{{islogin.phn}}
          </p>
        </div>
      </div>
    </ion-navbar> -->
  </ion-header>
  <ion-content id="outerNew">
    <div class="headProf" #headerTag ion-fixed>
      <img *ngIf="!fileUrl" src="assets/imgs/dummy-user-img.png" />
      <img *ngIf="fileUrl" src="{{fileUrl}}" />
      <div>
        <h4>{{islogin.fn}}&nbsp;{{islogin.ln}}</h4>
        <p style="font-size: 12px">
          <ion-icon name="mail"></ion-icon>&nbsp;{{islogin.email}}
        </p>
        <p style="font-size: 12px">
          <ion-icon name="call"></ion-icon>&nbsp;{{islogin.phn}}
        </p>
      </div>
    </div>
    <!-- <div #scrollableTag> -->
    <div style="margin-top: 66%;">
      <side-menu-content style="width:100%; height:100vh" [settings]="sideMenuSettings" [options]="options"
        (change)="onOptionSelected($event)"></side-menu-content>
    </div>

  </ion-content>
</ion-menu>
<!-- <ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div style="height:100%;">
      <div style="height:20%;">
        <ion-thumbnail class='mtitle' item-start style="z-index:999999;margin-top: 5%; height:120px;width:100%;">
          <img src="./assets/imgs/eliteadmin-logo.png" style="height: 100%;width: 100%;">
        </ion-thumbnail>
      </div>
      <div style="height:80%;margin-top: 10%;background: #1370a7;">

        <ion-list style="background: #1370a7;margin:0;" lines="full">
          <button style="background: transparent;color: #fff;" menuClose ion-item
            *ngFor="let p of mainmenus;let i=index; " (click)="openPage(p)">
            <ion-icon name="{{p.icon}}" style="color:#fff;font-size: 2rem;" item-left></ion-icon>
            {{p.title}}
          </button>
        </ion-list>

        <ion-list style="background: #1370a7;margin:0;">
          <ion-item text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}"
            style="margin: 0;color: #fff;background-color: transparent;padding-right: 0px; margin: 0; ">
            
            <ion-row style="border-top: 1px solid;">
              <ion-col col-2 style="line-height: 2;">
                <ion-icon name="custom-fuel" style="color:#fff;font-size: 2rem;" item-left></ion-icon>
              </ion-col>
              <ion-col col-9 style="line-height: 2;font-size: 16px; padding-left: 11px;">
                Fuel
              </ion-col>
              <ion-col col-1 *ngIf="sublevel" style="line-height: 2.5;">
                <ion-icon style="color:#fff;margin-top: 0px;font-size: 2rem;" item-right
                  [name]="isGroupShown(i) ? 'ios-arrow-down-outline' : 'ios-arrow-forward'"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="isGroupShown(i)">
              <ion-list style="background: #1370a7;width: 100%;">
                <button style="background: transparent;color: #fff;" menuClose ion-item *ngFor="let p of submenus"
                  (click)="openPage(p)">
                  <ion-icon name="{{p.icon}}" style="color:#fff;font-size: 2rem;" item-left></ion-icon>
                  {{p.title}}
                </button>
              </ion-list>
            </ion-row>
          </ion-item>
        </ion-list>

        <ion-list style="background: #1370a7;margin:0;">
          <button style="background: transparent;color: #fff;" menuClose ion-item *ngFor="let p of mainmenus1"
            (click)="openPage(p)">
            <ion-icon name="{{p.icon}}" style="color:#fff;font-size: 2rem;" item-left></ion-icon>

            {{p.title}}
          </button>
        </ion-list>

        <ion-list style="background: #1370a7;margin:0;">
          <ion-item text-wrap (click)="toggleGroup1(i)" [ngClass]="{active: isGroupShown1(i)}"
            style="margin: 0;color: #fff;background-color: transparent;padding-right: 0px; margin: 0; ">
            <ion-row style="border-top: 1px solid;">
              <ion-col col-11 style="line-height: 2;font-size: 16px;">Customer Support</ion-col>
              <ion-col col-1 *ngIf="sublevel" style="line-height: 2.5;">
                <ion-icon style="color:#fff;margin-top: 0px;font-size: 2rem;" item-right
                  [name]="isGroupShown1(i) ? 'ios-arrow-down-outline' : 'ios-arrow-forward'"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="isGroupShown1(i)">
              <ion-list style="background: #1370a7;width: 100%;">
                <button style="background: transparent;color: #fff;" menuClose ion-item *ngFor="let p of submenus1"
                  (click)="openPage(p)">
                  <ion-icon name="{{p.icon}}" style="color:#fff;font-size: 2rem;" item-left></ion-icon>

                  {{p.title}}
                </button>
              </ion-list>
            </ion-row>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-menu> -->
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>